<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>746592504424-393o2s76u0b24m1i6d5metemotiekn8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746592504424-393o2s76u0b24m1i6d5metemotiekn8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCkcOlCPlnIFk_EQ3_McSdvHTfc0tqg8HY</string>
	<key>GCM_SENDER_ID</key>
	<string>746592504424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.57.Hook</string>
	<key>PROJECT_ID</key>
	<string>shopme-8389e</string>
	<key>STORAGE_BUCKET</key>
	<string>shopme-8389e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746592504424:ios:0b1152a33330e6ca</string>
	<key>DATABASE_URL</key>
	<string>https://shopme-8389e.firebaseio.com</string>
</dict>
</plist>